.input#search.form-control {
  overflow: auto;
  border-color: cyan;
  border-width: 2px;
}

div.form-group{
  text-align: center;
}

/* form.search button[type="submit"] {
  float: right;
  margin-top: 10px;
} */