.table {
    background-color: rgb(255, 255, 208);
    overflow: auto;
    margin-top: 30px;
    position: absolute;
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}
  